html {
  height: 100%;
  width: 100%;
}
#heading{
  font-size: 5.5em;
  color: #DE35E3;
  font-family:fantasy;
  font-weight:400;
  font-style:normal;
  text-align:center;
  padding:4px;
  text-shadow: 1px 1px 2px #FF69B4, 0 0 25px #F33A6A, 0 0 5px #E0115F;
}
.Send Flowers-regular {
  font-family: "fantasy", system-ui;
  font-weight: 400;
  font-style: normal;
}/* Box Container */
.link-box {
  border: 2px solid #E65637; 
  padding: 10px;             
  border-radius: 8px;        
  display: inline-block;     
  background-color: #FFF4E6; 
}

/* Link Styling */
.box-link {
  font-size: 24px;           
  color: #EB51C0;            
  font-weight: bold;      
  text-decoration: none;     
}
